<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid Info</title>
  </head>
  <body>
    <h1>Covid Info</h1>
    <p>Recovered: <%= info.Recovered %></p>
    <p>LocalCasesWithKnownSource: <%= info.LocalCasesWithKnownSource %></p>
    <p>LocalCases: <%= info.LocalCases %></p>
    <p>Deaths: <%= info.Deaths %></p>
    <p>NewCases: <%= info.NewCases %></p>
    <p>Tested: <%= info.Tested %></p>
  </body>
</html>
